<br>
<main>
    <div class="conteiner">
        <div class="card text-center">
            <div class="card-header" style="color: black;">
                Proceso completado
            </div>
            <div class="card-body">
                <h3 class="card-title" style="color: black;">Pedido enviado correctamente</h3>
                <p class="card-text">Precione el boton para volver al inicio.</p>
                <a href="/" class="btn btn-primary">Inicio</a>
            </div>
        </div>
    </div>
</main>