<div class="bg-light text-dark">

  <main class="margen">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../../../assets/logo/logo7_6_194733.png" alt="" width="100px"
        height="100px">
      <h2>ALERTA</h2>
      <p class="lead">
        Para asegurar que se dé vida
        a tu diseño prodrás hacer una reserva con valor de 20 euros, los cuales ya estarán incluidos en el precio
        final de tu prenda.
      </p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-body-secondary">
                {{variables.precio}}
              </small>
            </div>
            <span class="text-body-secondary">

            </span>
          </li>

        </ul>
      </div>

      <div class="col-md-7 col-lg-8" style="padding: 50px;">

        <form class="needs-validation" autocomplete="off" [formGroup]="variables.miFormulario"
          (ngSubmit)="enviarPedido()">

          <div class="row g-3">
            <div class="col-sm-6">
              <label for="nombre" class="form-label">Nombre y Apellidos</label>
              <input type="text" class="form-control" formControlName="nombre">
              <div class="invalid-feedback">
                El Nombre y Apellidos es requerido
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input type="email" class="form-control" formControlName="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                El Email de Telefono es requerido
              </div>
            </div>

            <div class="col-12">
              <label for="telefono" class="form-label">Numero de Telefono</label>
              <div class="input-group has-validation">
                <span class="input-group-text">+34</span>
                <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono">
                <div class="invalid-feedback">
                  El Numero de Telefono es requerido
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Direccion de Entrega</label>
              <input type="text" class="form-control" formControlName="direccion" placeholder="1234 Main St">
              <div class="invalid-feedback">
                El Direccion Particular es requerido
              </div>
            </div>

          </div>

          <hr class="my-4">

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              
                <button class="login100-form-btn" type="submit" [disabled]="variables.miFormulario.invalid">
                  <a href="/realizado" style="color: white;">Enviar</a>
                </button>              
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
