<mat-sidenav #sidenav mode="push">
  <mat-toolbar>
    <h3>Cuellos</h3>

    <span class="speicer"></span>

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-nav-list>
    <div data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
      class="scrollspy-example bg-body-tertiary p-3 rounded-2" style="cursor: pointer; margin-bottom: 5px;" tabindex="0"
      *ngFor="let cuello of variables!.cuellos">
      <img [src]="cuello.url" alt="cuello" width="100px" height="140px"
        (click)="guardarCuello(cuello); sidenav.toggle()">
    </div>
  </mat-nav-list>

</mat-sidenav>

<button mat-raised-button color="primary" (click)="sidenav.toggle()" style="margin-bottom: 5px">
  Cuellos <mat-icon>arrow_forward_los</mat-icon>
</button>
