.margen{
    margin-top: 10px;
}
.margen2{
    margin-top: 10px;
    margin-left: 10px;
    
}
.margen3{
    margin-right: 10px;
}
.menu{
    flex-basis: 30px;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 300px;
}
.in-flex:first-child{
    flex: 2;
    padding: 25px;
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div{
    padding: 25px;
    margin: 20px;
}